@model List<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Admin";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>

<h2>Admin</h2>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Quote</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var insuree in ViewBag.Insurees)
        {
            <tr>
                <td>@insuree.FirstName</td>
                <td>@insuree.LastName</td>
                <td>@insuree.EmailAddress</td>
                <td>@String.Format("{0:C}", ViewBag.Quotes[insuree.Id])</td>
            </tr>
        }
    </tbody>
</table>
